<h2>간편 회원가입</h2>
<br/>

<mat-form-field>
	<mat-label>이름</mat-label>
	<input matInput [type]="'name'" [(ngModel)]="name">
</mat-form-field>
<br/>
	
<mat-form-field>
	<mat-label>아이디</mat-label>
	<input matInput [type]="'id'" [(ngModel)]="id">
</mat-form-field>
<br/>
	
<mat-form-field>
	<mat-label>비밀번호</mat-label>
	<input matInput [type]="'password'" [(ngModel)]="password">
</mat-form-field>
<br/>
	
<mat-form-field>
	<mat-label>이메일</mat-label>
	<input matInput [type]="'email'" [(ngModel)]="email">
</mat-form-field>
<hr/>

<button class="margin-5" mat-button color="primary" aria-label="Example mini fab with a heart icon" (click)="join()">
	가입하기
</button>