<div id="background-size">
    <div class="center">
        <freework-favorites class="margin-5" [icon]="'★'"></freework-favorites>
        <freework-favorites class="margin-5" [icon]="'☆'"></freework-favorites>
        <freework-favorites class="margin-5" [icon]="'※'"></freework-favorites>
        <freework-favorites class="margin-5" [icon]="'◎'"></freework-favorites>
    </div>

    <hr/>
    <freework-image [imagePath]="imagePath"></freework-image>
    <hr/>
    
    <div class="center">
        <freework-btn class="margin-5" [text]="open"></freework-btn>
        <freework-btn class="margin-5" [text]="close"></freework-btn>
    </div>
</div>