<mat-drawer-container class="center height-100">
    <mat-drawer #drawer mode="over">
        <div class="freework-side-menu" cdkMenu>
            <button class="freework-side-menu-item" cdkMenuItem>출퇴근</button>
            <button class="freework-side-menu-item" cdkMenuItem>휴가</button>
        </div>
    </mat-drawer>
    
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Wisenut</span>
        </mat-toolbar>
        
        <div class="margin-5">
            <button class="margin-5" mat-mini-fab matTooltip="Accent" color="primary" 
                aria-label="Example mini fab with a heart icon"
                (click)="favorit(1)">
                <mat-icon>apartment</mat-icon>
            </button>
            <button class="margin-5" mat-mini-fab matTooltip="Accent" color="accent"
                aria-label="Example mini fab with a heart icon"
                (click)="favorit(2)">
                <mat-icon>flight</mat-icon>
            </button>
        </div>
    
        <freework-image [imagePath]="imagePath"></freework-image>
        <br/>
    
        <mat-slide-toggle #workSwitch [aria-label]="'work-in-out'" (click)="workInOut()"></mat-slide-toggle>
    </mat-drawer-content>
</mat-drawer-container>