<div id="background-size">
    <div class="center">
        <freework-favorites class="margin-5" [icon]="'★'"></freework-favorites>
        <freework-favorites class="margin-5" [icon]="'☆'"></freework-favorites>
        <freework-favorites class="margin-5" [icon]="'※'"></freework-favorites>
        <freework-favorites class="margin-5" [icon]="'◎'"></freework-favorites>
    </div>

    <hr/>
    <freework-image [imagePath]="imagePath"></freework-image>
    <hr/>
    
    <div class="center">
        <freework-btn class="margin-5" [width]="'120px'" [height]="'40px'" [backgroundColor]="'#A9E2F3'" [text]="open" (click)="workStart()"></freework-btn>
        <freework-btn class="margin-5" [width]="'120px'" [height]="'40px'" [text]="close" (click)="workEnd()"></freework-btn>
    </div>
</div>